html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

header, div {
  text-align: center;
}

header {  
  padding: 50px;
  background-color: black;
  color: white;
}

div {
  padding: 25px;
}

.list {
  list-style-type: none;
}

